<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @scholarship.school.name %>
  <th></th>
</p>

<p>
  <strong>Major:</strong>
  <%= @scholarship.major.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scholarship.name %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
