<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Created</th>
      <th>Text</th>
      <th>School</th>
      <th>Major</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.user_id %></td>
        <td><%= story.created %></td>
        <td><%= story.text %></td>
        <td><%= story.school_id %></td>
        <td><%= story.major_id %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
